Source: libxml-rss-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>,
           Vincent Danjean <vdanjean@debian.org>,
           Damyan Ivanov <dmn@debian.org>,
           Ansgar Burchardt <ansgar@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-perl
Build-Depends-Indep: libdatetime-format-mail-perl <!nocheck>,
                     libdatetime-format-w3cdtf-perl <!nocheck>,
                     libtest-differences-perl <!nocheck>,
                     libtest-manifest-perl <!nocheck>,
                     libtest-pod-coverage-perl <!nocheck>,
                     libtest-pod-perl <!nocheck>,
                     libxml-parser-perl <!nocheck>,
                     perl
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libxml-rss-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libxml-rss-perl.git
Homepage: https://metacpan.org/release/XML-RSS
Rules-Requires-Root: no

Package: libxml-rss-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libdatetime-format-mail-perl,
         libdatetime-format-w3cdtf-perl,
         libxml-parser-perl
Description: Perl module for managing RSS (RDF Site Summary) files
 XML::RSS is a Perl module that provides a simple way to work with RDF Site
 Summary (RSS) files. This distribution also contains many examples that allow
 you to generate HTML from an RSS feed, convert between the various versions
 of the standard (0.9, 0.91 and 1.0), and other nifty things.
 .
 This module is helpful if you want to aggregate and display news feeds on your
 web site or if you want to syndicate your own content.
